@import-normalize; /* bring in normalize.css styles */

html,
body {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #640ede;
  color: #fff;
  min-width: 300px;
}

a {
  text-decoration: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
